@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: .5s;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 17);
}


